<ion-view view-title="Movements">
  <ion-content>
    
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email">
        </label>
    </div>
    
    <button class="button button-block button-positive">
        Sign in
    </button>
    
    
  </ion-content>
</ion-view>
