<ion-view view-title="Welcome!">
  <ion-content>
     
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input ng-model="user.username" type="text" placeholder="Username">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input ng-model="user.email" type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input ng-model="user.password" type="password" placeholder="Password">
        </label>
    </div>
    
    <div class="row">
        <button class="button button-block button-positive"
                ng-click="register()">
            Register
        </button>
    </div>
    
  </ion-content>
</ion-view>
