<ion-view view-title="Venues">
    
    <div class="bar bar-subheader">
      <h2 class="title">Visited Venues</h2>
    </div>
    
    <ion-content class="has-subheader">
        
        <!--UI Issue, should look for another map renderer-->
        <!--<div>
            <div ng-if="!mapCtrl.loaded" class="map-loader v-center" style="height:50vh;">
                <ion-spinner></ion-spinner>
            </div>

            <ui-gmap-google-map
                    ng-if="mapCtrl.loaded" 
                    center=mapObj.center
                    zoom=mapObj.zoom
                    options=mapOptions>
                <ui-gmap-marker coords="meMarker.center" idkey="meMarker.id" options="meMarker.options"></ui-gmap-marker>
                <ui-gmap-markers models="venues" coords="'self'" icon="'icon'"></ui-gmap-markers>
            </ui-gmap-google-map>
        </div>-->

        
        <!--<ion-scroll>-->
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list>
                
                <!--<ion-item ng-if="venuesLoading" style="text-align:center;"><ion-spinner></ion-spinner></ion-item>-->
                <ion-item ng-if="!venuesLoading && venues.length==0" style="text-align:center;">
                    <h2>No venues yet</h2>
                </ion-item>
                
                <ion-item ng-repeat="venue in venues | reverse" ng-click="showPopup(venue)">
                     <div class="row">
                        <h2>{{ venue.name }}</h2>
                    </div>
                    
                     <div class="row">
                        <p class="venue-visits">{{ venue.total_visits }} Other Visitors | {{ venue.total_reveals}} Guestbook Signatures</p>
                       
                     
                     </div>
                     <div class="row">
                        
                        <button ng-if="hasItBeenRevealed(venue)" class="button button-full button-positive no-padding"
                                ng-click="showPopup(venue)">
                             <span> View Guestbook </span>
                        </button>
                        
                        <button ng-if="!hasItBeenRevealed(venue)" class="button button-full button-positive no-padding"
                                ng-click="showPopup(venue)">
                             <span> Sign Guestbook </span>
                        </button>
                     </div>
                 
                    <ion-option-button class="button-assertive" 
                                    ng-click="removeVenue(venue)">
                        I Wasn't There
                    </ion-option-button>
                </ion-item>
            </ion-list>
        <!--</ion-scroll>-->
        
    </ion-content>
</ion-view>
