<ion-view view-title="About">
  <ion-content class="padding">
    
    <div class="about">
        <p>
          <h3>What is Movement?</h3>
          
          Movement is an application and visualization that uses location data generated automatically by mobile devices to increase community awareness and connect people with shared location histories.
          <br><br>
          Privately keep track of the venues you visit
         <br><br>
          Anonymously contribute popular places to this CSCW Community Display
          <br><br>
          Sign and view the secret guestbook for the places you go
          
             <br><br>Brought to you by:
        </p>
        <div>
		  <img src="img/CornellTech.png" width=300/>
        </div>
         Supported by:
        <div>
		  <img src= "img/Aol.png" width=150/>
        </div>
        <p>
		  We'd love to hear your thoughts on Movement!
        </p>
        <p>Send your feedback to <a href="mailto:s.tech.cornell@gmail.com">s.tech.cornell@gmail.com</a></p>
    </div>    
    
  </ion-content>
</ion-view>
