<ion-view view-title="Settings">
  <ion-content>
        
    <div class="row">
        <a class="button button-block button-positive" href="#/tab/settings/logs">
            Go to logs
        </a>
    </div>
    
    <!--desiredAccuracy-->
    <!--stationaryRadius-->
    <!--distanceFilter-->
    <!--locationUpdateInterval-->
    <!--minimumActivityRecognitionConfidence-->
    <!--fastestLocationUpdateInterval-->
    <!--activityRecognitionInterval-->
    <!--debug-->
    
  </ion-content>
</ion-view>
