<ion-view view-title="About">
  <ion-content class="padding">
    
    <div class="about">
        <p>
            Movement is an application and visualization that uses location data generated automatically by mobile devices to increase community awareness and connect people with shared location histories. We collect anonymous data following a new standard of privacy preservation<br><br>Brought to you by:
        </p>
        <div>
		  <img src="img/CornellTech.png"/>
        </div>
        <div>
		  <img src= "img/Aol.png"/>
        </div>
        <p>
		  We'd love to hear your thoughts on Movement!
        </p>
        <p>Send your feedback to <a href="mailto:s.tech.cornell@gmail.com">s.tech.cornell@gmail.com</a></p>
    </div>    
    
  </ion-content>
</ion-view>
