<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Venues Tab -->
  <ion-tab title="Venues" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/venues">
    <ion-nav-view name="tab-venues"></ion-nav-view>
  </ion-tab>

  <!-- Activity Tab -->
  <ion-tab title="Activity" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
  
  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
