<ion-view view-title="{{ venue.name }}">
  <ion-content>
    
    <ion-spinner ng-if="loading" class="full-height flexcontainer-center" icon="spiral"></ion-spinner>
    
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    
    <ion-list ng-show="!loading">
        <ion-item class="item-divider">Revealed Guestbook</ion-item>
        <ion-item ng-if="visitors.length==0">No One yet</ion-item>
        <ion-list ng-repeat="visitor in visitors">
            <ion-item class="item-divider">{{ visitor.cohort.name }}</ion-item>
            <ion-item ng-repeat="person in visitor.revealed_users">
                {{ person.username }}
            </ion-item>
        </ion-list>    
    </ion-list>
    
  </ion-content>
</ion-view>
