/* Empty. Add your own CSS if you like */
.flexcontainer-center {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.full-height{
    height: 80vh;
}

.map-trick-div{
  height:400px;
}
.angular-google-map-container { 
    height: 50vh; 
}

.no-padding{
    padding:0px;
}
.pull-right{
    float:right;
}

a.button-block {
    width: 100%;
}
.about{
    text-align: left;
    padding:6%;
}

.button.button-positive{
  background-color: #63D4CF;
}

 .button.button-positive.active, .button.button-positive.activated{
  background-color: #63D4CF;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #63D4CF !important;
}
.settingsText{
  padding: 6%;
}

.venue-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;
    color: #000;
}
.venue-visits{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    font-size: 14px;
}

.map-loader{
    text-align: center;    
}


.v-center{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-center{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-content{
    padding-right: 16px !important;
}

.angular-google-map-container { height: 30vh; }
